body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF); */
 height: 200px;
   }
   footer {
    background-color: #f7f7f7;
    padding: 40px 0;
    font-size: 14px;
  }
  
  footer h4 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  footer ul li {
    margin-bottom: 10px;
  }
  
  footer ul li a {
    color: #555;
  }
  
  footer p {
    margin: 0;
  }